#header {
  text-align: center;
  background-color: rgb(90, 86, 86);
}

.container1 {
  float: left;
  width: 25%;
  clear: both;
}
#displayheading {
  font-size: 28px;
  font-weight: 600;
}
.container2 {
  font-size: 24px;
  padding-left: 30%;
  float: center;
  clear: center;
}
.article {
  float: left;
  clear: both;
}
.section {
  margin-top: 10px;
}
.currentWeathersecion {
  margin: 5px;
  border-style: ridge;
  border-width: 1px;
  border-color: black;
  border-width: 1px;
}
.sectionCards {
  text-align: left;
  float: right;
  margin: 10px;
}
#sectionCards {
  margin: 5px;
  border-radius: 10px;
}
#dayCard {
  background-color: blue;
  border-width: 1px;
  border-color: black;
  margin: 10px;
  border-style: ridge;
}
#fiveDayTitle {
  font-weight: 600;
  font-size: 24px;
}
#searchTitle {
  font-weight: 600;
  font-size: 16px;
}
.past {
  background-color: red;
  color: white;
}

.present {
  background-color: yellow;
  color: white;
}

.future {
  background-color: #77dd77;
  color: white;
}
